.nav-box {
  position: relative;
  top: 60px;

  width: 150px;
  height: 70px;

  display: flex;
  align-items: center;
  padding-left: 16px;

  border-radius: 11px;
  overflow: hidden;

  background-color: hwb(250 11% 80%);

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.nav-box.show {
  opacity: 1;
  transform: translateY(0);
}

/* Animated fill bar */
.nav-box::before {
  content: "";
  position: absolute;
  inset: 0;

  width: 0%;
  background-color: white;
  border-radius: 11px;

  z-index: 0;
  transition: width 1.5s ease;
}

.nav-box:hover::before {
  width: 100%;
}

.nav-text {
  font-family: monospace;
  font-size: 15px;
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
}
